.bg-nav {
  background-color: #ce72a0;
  border-radius: 0.625em;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  color: inherit;
  font-size: 0.875em;
}

.logo {
  width: 6.25em;
}

header {
  background-color: white;
}

.footer {
  background-color: #d65696;
  letter-spacing: 0.25em;
  line-height: 0.625em;
  padding-top: 0.625em;
  display: flex;
  width: 100%;
  align-items: center;
}

.contenedora {
  display: flex;
  justify-content: space-between;
}

.redes {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.contacto {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  margin-left: 8px;
}

.parrafo2 {
  font-size: 0.875em;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.625em;
}

.instagram {
  width: 50%;
  margin-left: 0.625em;
}

.facebook {
  width: 50%;
}

.titulo {
  color: #ce72a0;
  font-family: "Rampart One", cursive;
  display: flex;
  justify-content: center;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.titulo:hover {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

.foto-portada {
  width: 70%;
  border-radius: 3.125em;
  margin-top: 2.5em;
  margin-bottom: 1.25em;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.foto-portada:hover {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.parrafo-1 {
  font-size: 0.938em;
  margin-top: 3.75em;
}

body {
  background-color: #d0cdd4;
}

.titulo2 {
  font-size: 3.125em;
  font-family: "Sacramento", cursive;
}

.titulo3 {
  font-size: 1.875em;
  font-family: "Just Me Again Down Here", cursive;
  text-transform: uppercase;
  margin-left: 0.625em;
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
}

.titulo3:hover {
  color: #ec0f46;
}

.fotos-lugares {
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.fotos-lugares:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.foto-w {
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.foto-w:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.fotos-z {
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.fotos-z:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.fotos-f {
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.fotos-f:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.contenido {
  font-size: 0.875em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.375em;
  line-height: 1.4;
  margin-left: 0.625em;
  margin-bottom: 1.25em;
  padding-top: 4.375em;
  padding-right: 6.25em;
  padding-bottom: 1.25em;
}

.div-fecha {
  padding-top: 1.375em;
}

.table {
  margin-bottom: 5.625em;
  padding-top: 3.125em;
  margin-left: 4.75em;
  width: 50%;
  transition: all 2s;
}
.table:hover {
  translate: 300px;
}

.th-color {
  background-color: #807d7d;
}

.td-color {
  background-color: #a792c0;
}

.td-verde {
  background-color: #74b890;
}

.td-colores {
  background-color: #d8d38a;
}

.td-colors {
  background-color: #6bb3b3;
}

.container-contacto {
  width: 60%;
}

.titulo-contacto {
  font-family: "Sacramento", cursive;
  text-align: center;
}

.btn {
  font-size: 0.75em;
}

.formulario {
  margin-left: 150px;
}

.fotos-lugares {
  width: 90%;
  border-radius: 1.25em;
}

.foto-w {
  width: 40%;
  border-radius: 1.25em;
}

.fotos-z {
  width: 100%;
  border-radius: 1.25em;
}

.fotos-f {
  width: 60%;
  border-radius: 1.25em;
}

/*# sourceMappingURL=style.css.map */
