* {
    margin: 0;
    padding: 0;
}

/* Logo */

.logo {
    width: 100px;
    transition: all 1s;
}

.logo:hover {
    transform: scale(2);
}

.bg-nav {
    background-color: rgb(206, 114, 160);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    color: inherit;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px; 

}

.titulo {
    color: rgb(214, 86, 150);
    font-family: 'Rampart One', cursive;
    transition: all 2s;
}

.titulo:hover {
    transform: translate(300px);
}

.foto-portada {
    width: 60%;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.parrafo-1 {
    font-size: 15px;
    margin-top: 60px;
}

.foto-pagina {
    width: 60%;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

/*Orden de seccion lugares */

.fotos-lugares {
    width: 90%;
    border-radius: 20px;
}

.foto-w {
    width: 40%;
    border-radius: 20px;
}

.fotos-z {
    width: 100%;
    border-radius: 20px;
}

.fotos-f {
    width: 60%;
    border-radius: 20px;
}

.titulo2 {
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    
}

.titulo3 {
    font-size: 30px;
    font-family: 'Just Me Again Down Here', cursive;
    text-transform: uppercase;
    margin-left: 10px;
}


.contenido {
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 1.4;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.contenido2 {
    font-size: 16px;
    letter-spacing: 6px;
    line-height: 1.4;
    margin: 10px;
        
}

.table {
    margin-bottom: 90px;
    width: 40%;
    transition: all 2s;
}
.table:hover {
    transform: translate(500px);
}

/* Formulario */

.container-contacto {
    width: 60%;
}

.titulo-contacto {
    font-family: 'Sacramento', cursive;
    text-align: center;
}

.btn {  
    font-size: 12px;
}

/* footer */

.footer {
    background-color: #ee8ec7;
    border-top:inset 2px black ;
    font-size: 14px;
    letter-spacing: 4px;   
    width: 100%;
    height: 100%;
    align-items: center;
    
}


.contacto {    
    text-decoration: none;
    color: inherit;   
}


.instagram {
    width: 25px;   
}


.facebook {
    width: 25px;
    
} 

