
@import "../base/variables";

.titulo {
    color: nth($list: $colores, $n:1 );
    font-family: $font-titulo;
    display: flex;
    justify-content: center;
    transform: rotate(360deg);


   
} 

.foto-portada {
    width: $foto-width;
    border-radius: $border-foto;
    margin-top:$foto-margintop;
    margin-bottom: $foto-marginbottom;
    
}

.parrafo-1 {
    font-size: $font-parrafo;
    margin-top: $margintop-parrafo;
}

body {
    background-color: nth($list:$colores , $n:8) ;
}