.div-fecha {
    padding-top: 1.375em;
}

.table {
    margin-bottom: 5.625em;
    padding-top: 3.125em;
    margin-left: 4.75em;
    width: 50%;
    transition: all 2s;
   &:hover {
    translate: 300px;
   }
} 

   .th-color {
       background-color: nth($list: $colores, $n:7 );
   }

   .td-color {
       background-color: nth($list: $colores, $n:3 );
   }

   .td-verde {
       background-color: nth($list: $colores, $n:4 );
   }

   .td-colores {
       background-color: nth($list: $colores, $n:5 );
   }

   .td-colors {
       background-color: nth($list: $colores, $n:6 );
   }

   