
 footer {
    background-color:$footer-color; 
    border-top:inset 2px black ;
    font-size: $font; 
    letter-spacing: 4px;   
    width: 100%;
    height: 100%;
    align-items: center;
 }

 .contacto {    
    text-decoration: none;
    color: inherit;   
}

.instagram {
    width: 25px;   
}


.facebook {
    width: 25px;   
} 