@import "../base/listas";
.footer {
    background-color: nth($list:$colores, $n:2);
    letter-spacing: 0.25em;
    line-height: 0.625em;
    padding-top: 0.625em; 
    display: flex;
    width: 100%;
    align-items: center;
    
}

.contenedora {
    display: flex;
    justify-content: space-between;

}

    .redes {
    display: flex;  
    width: 50%;
    justify-content: flex-start;
    
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

    .contacto {  
        font-size: 1em;   
        text-decoration: none;
        color: inherit;
        margin-left: 8px;
    
   
    
}

    .parrafo2 {  
        font-size: 0.875em;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0.625em;
       
    
   
} 

    .instagram {   
        width: 50%;
        margin-left: 0.625em;
       
}

    .facebook {  
    width: 50%;   
} 