.titulo2 {
    font-size: 3.125em;
    font-family: $font-titulo2;
}

.titulo3 {
    font-size: 1.875em;
    font-family: $font-titulo3;
    text-transform: uppercase;
    margin-left: 0.625em;

    
    
    
}



.fotos-lugares {
    @extend %fotos-lugares;
}

.foto-w {
    @extend %foto-w;
}

.fotos-z {
   @extend %fotos-z;
}

.fotos-f {
    @extend %fotos-f;
}

.contenido {
    font-size: 0.875em;
    font-family: $font-contenido;
    letter-spacing: 0.375em;
    line-height: 1.4;
    margin-left: 0.625em;
    margin-bottom: 1.25em;
    padding-top: 4.375em;
    padding-right: 6.25em;
    padding-bottom: 1.25em;
}