.titulo2 {
    font-size: 50px;
    font-family: $font-titulo2;
}

.titulo3 {
    font-size: 30px;
    font-family: $font-titulo3;
    text-transform: uppercase;
    margin-left: 10px;
    
}

.fotos-lugares {
    @extend %fotos-lugares;
}

.foto-w {
    @extend %foto-w;
}

.fotos-z {
   @extend %fotos-z;
}

.fotos-f {
    @extend %fotos-f;
}

.contenido {
    font-size: 14px;
    font-family: $font-contenido;
    letter-spacing: 6px;
    line-height: 1.4;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 70px;
    padding-right: 100px;
    padding-bottom: 20px;
}