%fotos-lugares {
    width: 90%;
    border-radius: 1.25em;
}

%foto-w {
    width: 40%;
    border-radius: 1.25em;
}

%fotos-z {
    width: 100%;
    border-radius: 1.25em;
}

%fotos-f {
    width: 60%;
    border-radius: 1.25em;
}