
$bg-nav-color: rgb(206, 114, 160) ;
$border-header: 10px;
$font-header: Arial, Helvetica, sans-serif;
$font-encabezado: 14px;

$footer-color: #ee8ec7;
$font: 14px;

$titulo-color:  rgb(214, 86, 150);

$foto-width: 60%;
$border-foto: 20px;
$foto-margintop: 40px;
$foto-martinbottom: 20px;

$font-parrafo: 15px;
$margintop-parrafo: 60px;