
$bg-font: Arial, Helvetica, sans-serif;
$border-header: 10px;
$font-encabezado: 14px;
$font-titulo: 'Rampart One', cursive;

$font: 14px;
$foto-width: 60%;
$border-foto: 20px;
$foto-margintop: 40px;
$foto-marginbottom: 20px;

$font-parrafo: 15px;
$margintop-parrafo: 60px;

$font-titulo2: 'Sacramento', cursive;
$font-titulo3: 'Just Me Again Down Here', cursive;

$font-titulocontacto:  'Sacramento', cursive;