

$border-header: 10px;
$font-header: Arial, Helvetica, sans-serif;
$font-encabezado: 14px;


$font: 14px;



$foto-width: 60%;
$border-foto: 20px;
$foto-margintop: 40px;
$foto-marginbottom: 20px;

$font-parrafo: 15px;
$margintop-parrafo: 60px;
